{%- if product.available == false and settings.label_soldout_show -%}
  <span class="product-label product-label--soldout"><span>{{ 'products.labels.sold_out' | t }}</span></span>
{%- elsif product.compare_at_price_max > product.price and settings.label_sale_show -%}
  <span class="product-label product-label--sale"><span>{{ 'products.labels.sale' | t }}</span></span>

  
{%- elsif settings.label_remain_show_yes and product.variants.size == 1 and product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity > settings.prod_out_of_stock_num and product.variants.first.inventory_quantity <= settings.prod_low_inventory_num -%}
  <span class="product-label product-label--low-inventory"><span>{{settings.low_inventory_text}}</span></span>

{%- elsif settings.label_remain_show_yes and product.variants.size == 1 and product.variants.first.inventory_management == 'shopify' and product.variants.first.inventory_quantity <= settings.prod_out_of_stock_num  -%}
  <span class="product-label product-label--low-inventory"><span>{{settings.out_of_stock_text}}</span></span>

{%- elsif settings.label_new_in_show -%}
  {%- assign now_s = 'now' | date: '%s' | plus: 0 -%}
  {%- assign pub_s = product.created_at | date: '%s' | plus: 0 -%}
  {%- assign diff_days = now_s | minus: pub_s | divided_by: 86400 -%}
  {%- if diff_days < settings.prod_new_in_limit_int -%}
    <span class="product-label product-label--new-in"><span>{{ 'products.labels.new_in' | t }}</span></span>
  {%- endif -%}
{%- endif -%}
