
{% assign show_single_variant_details = true %}

<div class="container" data-section-type="cart-template">

  {% if cart.item_count == 0 %}

  <h2 class="page-title">{{ 'cart.general.empty_title' | t }}</h2>
  <div class="rte"><a href="{{ routes.all_products_collection_url }}">{{ 'cart.general.empty_subtext' | t }}</a></div>

  {% else %}

  <div class="reading-column">
<!--start LCXX modifications-->

<div class="my_heading_parent" style="display: flex; align-items: center; justify-content: space-between;" >
    <h1 class="page-title" style="float: left;margin-top: 0.7em;">{{ 'cart.general.title' | t }}</h1>
    <div class="rte" style="float:right;"><a href="{{ routes.all_products_collection_url }}">{{ 'cart.general.empty_subtext' | t }}</a></div>
   
</div>
<!--End LCXX modifications-->

{% if section.settings.cart_notification_show and section.settings.cart_notification_pos != 'under-items' %}
    <div class="notification">
      <div class="rte">{{ section.settings.cart_notification_text }}</div>
    </div>
    {% endif %}

    <form class="cart-form" action="{{ routes.cart_url }}" method="post" id="cartform">
      <div class="spaced opposing-items">
        {% for item in cart.items %}
          {% if forloop.first %}
          {% assign collection_url = item.product.collections.first.url %}
          {% if collection_url == nil or collection_url == empty or collection_url contains 'frontpage' %}{% capture collection_url %}{{ routes.all_products_collection_url }}{% endcapture %}{% endif %}
          {% endif %}
        {% endfor %}
<!--start LCXX modifications-->
        {%- comment -%}
        <a class="more-link left" href="{{ collection_url }}">{{ 'cart.general.continue' | t }}</a>
        {%- endcomment -%}
<!--End LCXX modifications-->
        <!-- Zapiet | Store Pickup + Delivery -->
<div id="storePickupApp"></div>
<!-- Zapiet | Store Pickup + Delivery -->
        
        <!-- LCXX 
        <button class="checkout-button checkout-button--upper" type="submit" name="checkout">{{ 'cart.general.checkout' | t }}</button>
		LCXX -->
        
      </div>

<!--start LCXX modifications-->
      <ul class="cart-items plain" id="my_cart_items_ul">
<!--end LCXX modifications-->
        <li class="cart-item cart-items__heading border-bottom">
          <span class="cart-item__description-and-image">{{ 'cart.label.description' | t }}</span>
          <span class="cart-item__price">{{ 'cart.label.price' | t }}</span>
          <span class="cart-item__quantity">{{ 'cart.label.quantity' | t }}</span>
          <span class="cart-item__total">{{ 'cart.label.total' | t }}</span>
        </li>
        {% for item in cart.items %}
        
<!--start LCXX modifications-->
          <li class="cart-item border-bottom cf
            {% if item.product.tags contains 'Local-Only' %}
            my_local_only_class
            {% endif %}
          "
          >
<!--end LCXX modifications-->

            <div class="cart-item__image">
              <a class="image" href="{{ item.url }}">
                <img src="{{ item | img_url: '100x' }}" alt="{{ item.title | escape }}"
                      srcset="{{ item | img_url: '100x' }} 100w,
                              {{ item | img_url: '200x' }} 200w" sizes="100px"/>
              </a>
            </div>

            <div class="cart-item__not-image">
              <div class="cart-item__description">
                <div>{{ item.product.title | link_to: item.product.url }}</div>
                {% if item.product.variants.size > 1 %}
                <span class="variant">{{ item.variant.title }}</span>
                {% elsif show_single_variant_details %}
                {% unless item.product.has_only_default_variant %}
                <span class="variant">{{ item.variant.title }}</span>
                {% endunless %}
                {% endif %}





                {% comment %} Line Item Properties {% endcomment %}
                {% for p in item.properties %}
                <div class="property">
                  <!-- Zapiet | Store Pickup + Delivery -->
{% unless p.last == blank or p.first == "_ZapietId" %}
<!-- Zapiet | Store Pickup + Delivery -->
                  <span class="label">{{ p.first }}:</span>
                  {% if p.last contains '/uploads/' %}
                  <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                  {% else %}
                  {{ p.last }}
                  {% endif %}
                  <br />
                  {% endunless %}
                </div>
                {% endfor %}

<!--start LCXX modifications-->
{% if item.product.tags contains 'Local-Only' %}
<div style="margin-bottom:10px;color:#ff9800;font-weight: 400;">Local Pickup Only</div>
{% endif %}
<!--End LCXX modifications-->



                {% if section.settings.show_backorder_text == true %}
                  {% render 'backorder', product: item.product, variant: item.variant %}
                {% endif %}
              </div>

              <div class="cart-item__price">
                <div class="cart-item__price__amount">
                  {% if item.original_line_price > item.final_line_price %}
                    <div class="struck-out-price theme-money">{{ item.original_price | money }}</div>
                    <div class="cart-item__price-current reduced-price theme-money">{{ item.final_price | money }}</div>
                  {% elsif item.variant.compare_at_price != blank and item.variant.price < item.variant.compare_at_price %}
                    <div class="theme-money struck-out-price">{{ item.variant.compare_at_price | money }}</div>
                    <div class="cart-item__price-current reduced-price theme-money">{{ item.final_price | money }}</div>
                  {% else %}
                    <div class="cart-item__price-current theme-money">{{ item.final_price | money }}</div>
                  {% endif %}
                </div>

                {% render 'unit-price', variant: item %}
              </div>

              <div class="cart-item__quantity">
                <div class="qty-adjuster">
                  <div class="qty-adjuster__inner">
                    <a class="qty-adjuster__down" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}">{% render 'svg-minus' %}</a>
                    <input class="qty-adjuster__value" type="text" pattern="[0-9]*" name="updates[]" value="{{ item.quantity }}" aria-label="{{ 'cart.label.quantity' | t | escape }}">
                    <a class="qty-adjuster__up"
                        href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}"
                        {% if item.variant.inventory_management == 'shopify' and item.variant.inventory_policy == 'deny' and item.variant.inventory_quantity == item.quantity %}disabled{% endif %}
                        >
                      {%- render 'svg-plus' -%}
                    </a>
                  </div>
                  <a class="qty-adjuster__remove" onclick="return confirm('{{ 'cart.general.confirm_remove' | t }}')" href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0">{{ 'cart.general.remove' | t }}</a>
                </div>
              </div>

              <div class="cart-item__total">
                <div class="cart-item__total__amount">
                  {% if item.original_line_price != item.final_line_price %}
                    <div class="struck-out-price theme-money">{{ item.original_line_price | money }}</div>
                    <div class="cart-item__price-current reduced-price theme-money">{{ item.final_line_price | money }}</div>
                  {% elsif item.variant.compare_at_price != blank and item.variant.price < item.variant.compare_at_price %}
                    <div class="struck-out-price theme-money">{{ item.variant.compare_at_price | times: item.quantity | money }}</div>
                    <div class="cart-item__price-current reduced-price theme-money">{{ item.final_line_price | money }}</div>
                  {% else %}
                    <div class="cart-item__price-current theme-money">{{ item.final_line_price | money }}</div>
                  {% endif %}
                </div>

                {% if item.line_level_discount_allocations.size > 0 %}
                  <ul class="cart-discount-list">
                  {% for discount_allocation in item.line_level_discount_allocations %}
                    <li class="cart-discount">
                      <div class="cart-discount__label">{{ discount_allocation.discount_application.title }}</div>
                      <div class="cart-discount__amount theme-money">{{ discount_allocation.amount | money }}</div>
                    </li>
                  {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
	  <!-- LCXX Rahul Change starts here-->
      <div class="space-under light-space-above align-right">
        <input type="submit" class="alt" id="update-cart" name="update" value="{{ 'cart.general.update' | t }}" />
        
      </div>
      <!-- LCXX Rahul Change ends here-->




      {% if section.settings.cart_notification_show and section.settings.cart_notification_pos == 'under-items' %}
      <div class="notification">
        <div class="rte">{{ section.settings.cart_notification_text }}</div>
      </div>
      {% endif %}

  <!--start LCXX modifications-->
  <div id="my_checkout_warning" class="my_checkout_warning" 
  style="color: {{section.settings.font_color_warning}}; border-color:{{section.settings.font_color_warning}} ; background-color:{{section.settings.bg_color_warning}} ;"
  >


    {{section.settings.checkout_warning}}

    <span id="my_checkout_warning_close" class="my_checkout_warning_close">x</span>
  </div>


  <div id="my_pickup_warning" class="my_pickup_warning"
  style="color: {{section.settings.font_color_warning}}; border-color:{{section.settings.font_color_warning}};background-color:{{section.settings.bg_color_warning}}  ;"
  >

        {{section.settings.pickup_warning}}

        <span id="my_pickup_warning_close" class="my_pickup_warning_close">x</span>
  </div>

<div class="div_of_productExpirationNotifier">
  <span id="productExpirationNotifier" style="display: none;

            color: {{section.settings.font_color_local_pickup}}; border-color:{{section.settings.font_color_local_pickup}} ; background-color:{{section.settings.bg_color_local_pickup}} ;"
            
            ">
              {{ section.settings.products_sent}}
              <span id="close_noti">x</span>
            </span>
</div>
  <!--end LCXX modifications-->

 
      <div class="row spaced-row">

        <div class="half column">
          {% if section.settings.show_notes %}
            <label class="cart-note-label" for="note">{{ section.settings.note_text }}</label>
            <textarea placeholder="{{section.settings.note_placeholder_text}}" id="note" name="note" rows="6" cols="50">{{ cart.note }}</textarea>
          {% else %}
            &nbsp;
          {% endif %}
        </div>



        <div class="half column align-right">
          {%- if cart.cart_level_discount_applications != blank -%}
            <ul class="cart-discount-list cart-discount-list--by-subtotal">
              {%- for discount_application in cart.cart_level_discount_applications -%}
                <li class="cart-discount cart-discount--inline">
                  <span class="cart-discount__label">{{ discount_application.title }}</span>
                  <span class="cart-discount__amount theme-money">{{ discount_application.total_allocated_amount | money }}</span>
                </li>
              {%- endfor -%}
            </ul>
          {%- endif -%}

          <div class="cart-subtotal">
            <label class="cart-subtotal-label h2" for="checkout">{{ 'cart.general.subtotal' | t }}:</label>
            <span class="theme-money h2">{{ cart.total_price | money }}</span>
          </div>

          {% if section.settings.show_tax_and_shipping %}
            {%- capture taxes_shipping_checkout -%}
              {%- if shop.taxes_included and shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- elsif shop.taxes_included -%}
                {{ 'cart.general.taxes_included_but_shipping_at_checkout' | t }}
              {%- elsif shop.shipping_policy.body != blank -%}
                {{ 'cart.general.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
              {%- else -%}
                {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
              {%- endif -%}
            {%- endcapture -%}

            <div class="cart-policies rte lightly-spaced-row">{{ taxes_shipping_checkout }}</div>
          {% endif %}

          <div class="cart-buttons">
            <button id="my_checkout_btn" class="checkout-button checkout-button--lower my_btn_min_width" type="submit" name="checkout">{{ 'cart.general.checkout' | t }}</button>
          </div>

          {% if section.settings.show_additional_checkout_buttons and additional_checkout_buttons %}
          <div class="additional-checkout-buttons">
            {{ content_for_additional_checkout_buttons }}
          </div>
          {% endif %}
          <!-- LCXX Rahul Change starts here-->
          <!--start LCXX modifications-->

          <div class="space-under light-space-above align-right">
            <a id="reviewProductExpiration" href="javascript:;" class="my_btn_min_width">Local Store Pickup</a>
            
          </div>

          <!--End LCXX modifications-->
          <!-- LCXX Rahul Change ends here-->
        </div>
      </div>

    </form>

    {% render 'shipping-calculator' %}

  </div>

  {% endif %}

</div>

<!-- LCXX Rahul Change starts here-->

<!--start LCXX modifications-->
<script>
  $('#reviewProductExpiration').click(function(e){


    if( $('textarea#note').val() ){


      e.preventDefault();
    var dd = new Date();
    var noteVal = $('textarea#note').val();
    console.log('dfs')
    var settings = {
      "url": "https://www.ReportVista.com/api/draft",
      "method": "POST",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
      },
      "data": JSON.stringify({"draftOrderContent":`*** Review Cart Before Creating Draft Order ***

Client Information : {% if customer %}{{ customer.name }}{% else %}Unknown(Client Not Logged In){% endif %}
Time Sent          : ${dd}
Notes              : ${noteVal}
               
{% for item in cart.items %}
{{ item.title }}
   Qty  : {{ item.quantity }}
   Price: {{ item.final_line_price | money }}
{% endfor %}

Sub Total: {{ cart.items_subtotal_price | money }}`}),
    };

    $.ajax(settings).done(function (response) {
      console.log(response);
      $("#productExpirationNotifier").show();
      $("#my_pickup_warning").hide();
      $("#my_checkout_warning").hide();
      $("#reviewProductExpiration").hide();
      $("#update-cart").hide();
      $("#my_checkout_btn").hide();                            
//       setTimeout(function(){
//       $("#productExpirationNotifier").hide();
//       },5000)
    });
    
    $("span#close_noti").click(function(){
      $("#productExpirationNotifier").hide();
    });




    }else{
      console.log("textarea is empty");
      $("#my_pickup_warning").show();
    }
    
  })
</script>
<!--End LCXX modifications-->
<style>
  span#close_noti {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #1e3904;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    line-height: 10px;
    color: #1e3904;
    display: block;
    font-size: 16px;
    cursor: pointer;
  }
.div_of_productExpirationNotifier{
  margin-top:20px;
  margin-bottom: 20px;
}
span#productExpirationNotifier {
   
    font-size: 18px;
    text-align: center;
    background: #b9ddb9;
    border-radius: 1px;
    padding: 15px 15px;

    font-weight: 500;
    border-width:2px ;
    border-style: solid;

    display: block;
   
}
  
  a#reviewProductExpiration {
    display: inline-block;
    width: auto;
    margin: 10px 0 0 auto;
    height: auto;
    width: auto;
    padding: 9px 1.4em;
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 400;
    vertical-align: middle;
    text-align: center;
    border-radius: 0px;
    transition: opacity 200ms, background-color 150ms, border-color 150ms;
   
    background: #0e6dad;
    color: #ffffff;
    border: 2px solid #0e6dad;
}

.my_btn_min_width{ min-width: 250px;}
@media (max-width: 767px){
  a#reviewProductExpiration{width: 100%;}
  #note { height: 6em;width: 100%;}
}

  a#reviewProductExpiration:hover {
    border-color: #128bdc;
    background: #128bdc;
    color: #ffffff;
  }
</style>
<!-- LCXX Rahul Change ends here-->
{% schema %}
  {
    "name": "Cart page",
    "settings": [
      
      {
        "type": "text",
        "id" : "checkout_warning",
        "label" : "Checkout warning",
        "default" : "You have local pickup items in your cart. Please remove them from your cart or choose the Local Pickup button if you plan to pick them up at the store."
      },
      {
        "type": "text",
        "id" : "pickup_warning",
        "label" : "Local Pick-up Warning",
        "default" : "Please enter your email or phone number so we can contact you when your order is ready to be picked up."
      },
      {
        "type": "color",
        "id": "font_color_warning",
        "label": "font color of warning msg",
        "default": "#ff9800"

      },
      {
        "type": "color",
        "id": "bg_color_warning",
        "label": "background color of warning msg",
        "default": "#ffffff"

      },
         
      {
        "type": "text",
        "id" : "products_sent",
        "label" : "Products sent message after successfully pickup",
        "default" : "Products sent for review. We will contact you once products are ready."
      },
      
      {
        "type": "color",
        "id": "font_color_local_pickup",
        "label": "font color of local pickup msg",
        "default": "#1e3904"

      },
      {
        "type": "color",
        "id": "bg_color_local_pickup",
        "label": "background color of warning msg",
        "default": "#b9ddb9"

      },
      {
        "type": "text",
        "id" : "note_text",
        "label" : "note text",
        "default" : "Leave your email or phone number for Pickup Orders"
      },
      
      {
        "type": "text",
        "id" : "note_placeholder_text",
        "label" : "note placeholder",
        "default" : "My numeber is 771-777-7777 &#10;My email is myemail@email.com"
      },
      {
        "type": "checkbox",
        "id": "show_notes",
        "label": "Enable cart notes",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tax_and_shipping",
        "label": "Show tax and shipping information",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_additional_checkout_buttons",
        "label": "Show additional checkout options",
        "default": true,
        "info": "Display other gateways and quick checkout buttons. [Read more](https://help.shopify.com/en/manual/payments/accelerated-checkouts)"
      },
      {
        "type": "checkbox",
        "id": "show_backorder_text",
        "label": "Show backorder text",
        "default": true,
        "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
      },
      {
        "type": "header",
        "content": "Cart announcement"
      },
      {
        "type": "checkbox",
        "id": "cart_notification_show",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "richtext",
        "id": "cart_notification_text",
        "label": "Text"
      },
      {
        "type": "select",
        "id": "cart_notification_pos",
        "label": "Position",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "Under page title"
          },
          {
            "value": "under-items",
            "label": "Under items"
          }
        ]
      },
      {
        "type": "header",
        "content": "Shipping estimates calculator"
      },
      {
        "type": "checkbox",
        "id": "shipping_calculator",
        "label": "Show shipping calculator",
        "default": false
      },
      {
        "type": "text",
        "id": "shipping_calculator_default_country",
        "label": "Default country selection",
        "default": "United States"
      },
      {
        "type": "paragraph",
        "content": "If your customer is logged-in, the country in their default shipping address will be selected."
      }
    ]
  }
{% endschema %}
