<div class="container">
    <div class="reading-column">
      <h1 class="page-title">{{ page.title }}</h1>
  
      <div class="page-with-contact-form row">
        <div class="rte half column">
          <div>{{ page.content }}</div>
          <div>
            <ul class="my_contact_page_ul">
              <li>
                 <a href="mailto:{{section.settings.contact_us_email}}" class='contact-form-email'>
           
                    <i class="fa fa-envelope"></i>{{section.settings.contact_us_email}}
                 </a>
              </li>
              <li>
                 <i class="fa fa-phone"></i>{{section.settings.contact_us_phone}}
              </li>
              <li>
                 <i class="fa fa-map-marker"></i>{{section.settings.contact_us_address}}
              </li>
           </ul>
  
          </div>
        </div>
        
  
        <div class="half column">
          {% render 'contact-form' %}
        </div>
      </div>
  
      <div class="my_map">
        <h3>Visit Our Store</h3>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1400.6057574787253!2d-75.6273021776047!3d45.405074164690944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce0f0d3cac9ff9%3A0x1a3217eebdfce2dd!2s1731%20St%20Laurent%20Blvd%2C%20Ottawa%2C%20ON%20K1G%203V4%2C%20Canada!5e0!3m2!1sen!2seg!4v1600888067908!5m2!1sen!2seg" width="1000" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
      
    </div>
  </div>




  
{% schema %}
{
  "name": "Cart page",
  "settings": [
    
    {
      "type": "text",
      "id" : "contact_us_email",
      "label" : "email",
      "default" : "info@bienvenidos.ca"
    },
    {
        "type": "text",
        "id" : "contact_us_phone",
        "label" : "phone",
        "default" : "613-618-7239"
    },
    {
        "type": "text",
        "id" : "contact_us_address",
        "label" : "address",
        "default" : "1731 St. Laurent Blvd, Ottawa, Canada, K1G 3V4"
    }
  ]
}
{% endschema %}
