{%- comment -%}Start LCXX modifications{%- endcomment -%}

<style>
    .accordion_container {
  max-width: 800px;
  margin: auto;
}
.accordion_container .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;

  transition: 0.4s;
  border: 1px solid gainsboro;
  position: relative;
}
@media only screen and (max-width: 749px) {
  .accordion_container .accordion {
    border: none;
    margin: 5px 0;
    font-size: 16px;
  }
}
@media only screen and (min-width: 750px) {
  .accordion_container .accordion.active, .accordion_container .accordion:hover {
    background-color: #d4d4d4;
  }
}
@media only screen and (max-width: 749px) {
  .accordion_container .accordion.active {
    margin-bottom: 0;
  }
  .accordion_container .accordion.active p {
    color: #162950;
  }
}
.accordion_container .accordion p {
  width: 100%;
  padding-right: 20px;

  color: #162950;
  margin:0;
}

.accordion_container .panel {
  padding: 10px 20px;
  display: none;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #fbfafa;
}
@media only screen and (max-width: 749px) {
  .accordion_container .panel {
    background: #fff !important;
  }
}

.accordion:after {
  content: '\02795';
  /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  position: absolute;
  bottom: 18px;
  right: 18px;
}

.accordion_container .active:after {
  content: '\2796';
  /* Unicode character for "minus" sign (-) */
}
</style>



<div class=" text-center">
    <h1>{{ page.title }}</h1>
</div>


{% for block in section.blocks %}

<div class="section_custom_text block">
 
  <div class="accordion_container">
        {% if block.settings.the_question != blank %}  
            <button class="accordion">{{block.settings.the_question}}</button>
            <div class="panel">
                {{block.settings.the_answer}}
            </div>
        {% endif %}
       
            

    </div>
</div>
        
{% endfor %}

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;
    
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
        if (panel.style.maxHeight){
              panel.style.maxHeight = null;
        } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
        }     
      });
    }
    </script>  
 
{% schema %}
  {
    "name": "FAQs blocks",
    "settings": [],
    "blocks": [



    {
        "type": "question",
        "name": "question",
        "settings": [
    
        {
           "id": "the_question",
             "type": "richtext",
             "label": "question"
        },
        {
           "id": "the_answer",
             "type": "richtext",
             "label": "answer"
        }
        ]
      }



      
    ]
  }
{% endschema %}
{%- comment -%}End LCXX modifications{%- endcomment -%}
