{% assign show_single_variant_details = true %}

{% assign variant = product.selected_or_first_available_variant %}
{% assign featured_image = product.selected_or_first_available_variant.featured_media.preview_image | default: product.featured_media.preview_image %}

<div class="container product-container" data-section-type="product-template">
  {% unless template contains 'lightbox' %}

  {% if collection %}
  <div class="inline-row">
    {% if collection %}
    <div class="next-prev inline-item left links-row desktop">
      <span class="back-link">
        <span>{{ 'products.product.back_to' | t }}</span> <a href="{{ collection.url }}" title="{{ collection.title | escape }}" class="standard-link">{{ collection.title }}</a>
      </span>
    </div>

    <div class="inline-item right last desktop">
      {% if collection.previous_product %}
      <a class="standard-link" href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
      {% if collection.next_product %} <span class="divider">/</span> {% endif %}
      {% endif %}

      {% if collection.next_product %}
      <a class="standard-link" href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
      {% endif %}
    </div>
    {% endif %}

  </div>
  {% endif %}

  {% endunless %}

  <div class="row light-space-above space-under">
    {%- render 'media-gallery', product: product -%}

    <!-- begin product form and details -->
    <div class="half column product-details">
      <div class="border-bottom product-section padless-top cf product-title-row">
        {% if section.settings.prod_show_brand or section.settings.prod_show_type %}
        <div class="brand-and-type feature-col my_product_page_brand_and_type">
          {% if section.settings.prod_show_brand %}
            {%- comment -%}
            Do we have a collection that has the same name as our product vendor name?
            If we do, let's have the vendor link point to it.
            If not, we will point to the automatic vendor collection.
            {%- endcomment -%}
            {%- assign product_vendor_handle = product.vendor | handle -%}
            {%- if collections[product_vendor_handle].handle == product_vendor_handle -%}
              {%- assign vendor_url = collections[product_vendor_handle].url -%}
            {%- else -%}
              {%- assign vendor_url = product.vendor | url_for_vendor -%}
            {%- endif -%}
            <span class="brand">{{ product.vendor | link_to: vendor_url }}</span>
          {% endif %}

          {% if section.settings.prod_show_type and product.type != blank %}
            {% if section.settings.prod_show_brand %}/{% endif %}

            {%- assign product_type_handle = product.type | handle -%}
            {%- if collections[product_type_handle].handle == product_type_handle -%}
              {%- assign type_url = collections[product_type_handle].url -%}
            {%- else -%}
              {%- assign type_url = product.type | url_for_type -%}
            {%- endif -%}
            <span class="type">{{ product.type | link_to: type_url }}</span>
          {% endif %}
        </div>
        {% endif %}

        <h1 class="product-title">{{ product.title }}</h1>

        {% if section.settings.prod_show_weight %}
          <div class="product-weight {% if variant.weight == blank or variant.weight <= 0 %}product-weight--no-weight{% endif %}">
            <span class="product-weight__value">{% if variant.weight != blank and variant.weight > 0 %}{{ variant.weight | weight_with_unit }}{% endif %}</span>
          </div>
        {% endif %}

        <div id="price" class="product-price {% if variant.compare_at_price > variant.price %}on-sale{% endif %}">
          <span class="current-price theme-money my_product_page_price">{{ variant.price | money }}</span>
          {% if variant.compare_at_price > variant.price %}
          <span class="was-price theme-money my_product_page_compare_at_price">{{ variant.compare_at_price | money }}</span>
          {% endif %}

          {% render 'unit-price', variant: variant %}
        </div>

        {%- if section.settings.show_tax_and_shipping -%}
          {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
            <div class="product-policies rte">
              {%- if shop.taxes_included -%}
                {{ 'products.general.include_taxes' | t }}
              {%- endif -%}
              {%- if shop.shipping_policy.body != blank -%}
                {{ 'products.general.shipping_policy_html' | t: link: shop.shipping_policy.url }}
              {%- endif -%}
            </div>
          {%- endif -%}
        {%- endif -%}

        <div class="themed-product-reviews">
          <div class="shopify-product-reviews-badge" data-id="{{ product.id }}"></div>
        </div>
      </div>

      <div class="product-section {% if section.settings.enable_payment_button %}padless-bottom{% endif %} {% unless section.settings.description_location == 'under' or template contains 'lightbox' %}border-bottom{% endunless %}">
        {% if section.settings.prod_show_sku %}
        <div class="space-under sku {% if product.selected_or_first_available_variant.sku == blank %}sku--no-sku{% endif %}">{{ 'products.product.sku' | t }} <span class="sku__value">{{ product.selected_or_first_available_variant.sku }}</span></div>
        {% endif %}

        {% capture history_state_data %}{% unless template contains 'lightbox' %}true{% else %}false{% endunless %}{% endcapture %}

        {%- if settings.cart_type contains 'drawer' -%}
          {%- assign enable_ajax = true -%}
        {%- else -%}
          {%- assign enable_ajax = false -%}
        {%- endif -%}
        {% form 'product', product, class: 'product-form', data-ajax-add-to-cart: enable_ajax, data-product-id: product.id, data-enable-history-state: history_state_data %}
          {% if product.variants.size > 1 %}

          <div class="option-selectors" data-box-options="{{ section.settings.prod_clicky_opt_names | escape }}">
            {% for option in product.options_with_values %}
            <div class="selector-wrapper cf">
              {% if section.settings.show_size_chart and option.name == section.settings.size_chart_variant %}
                <div class="opposing-items">
                  <label class="left" for="option-{{ option.name | handle }}">{{ option.name }}</label>
                  <span class="size-chart-container">
                    <a href="#size-chart-content" class="size-chart-link">
                      {{ 'products.product.size_chart' | t }}
                      {% render 'svg-chevron-right' %}
                    </a>
                    <div id="size-chart-content" class="hidden">
                      <div class="size-chart">
                        <div class="size-chart__inner rte">
                          {{ pages[section.settings.size_chart_page].content }}
                        </div>
                      </div>
                    </div>
                  </span>
                </div>
              {% else %}
                <label {% if option.name == 'default' %}class="hidden"{% endif %} for="option-{{ option.name | handle }}">{{ option.name }}</label>
              {% endif %}

              <select id="option-{{ option.name | handle }}">
                {% for value in option.values %}
                <option value="{{ value | escape }}" {% if option.selected_value == value %}selected{% endif %}>
                  {{ value }}
                </option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
          </div>

          <select name="id" class="original-selector" aria-label="{{ 'products.product.selector_label' | t | escape }}">
            {% for variant in product.variants %}
            <option value="{{ variant.id }}"
                {% if variant == product.selected_or_first_available_variant %} selected="selected"{% endif %}
                data-stock="{% if variant.inventory_management == 'shopify' and variant.inventory_quantity <= 0 %}out{% endif %}"
                {%- comment -%}
                {% if section.settings.stock_warning_show and variant.inventory_management == 'shopify' and variant.inventory_quantity > 0 and variant.inventory_quantity <= section.settings.stock_warning_limit %}data-inventory="{{ variant.inventory_quantity }}"{% endif %}
                {%- endcomment -%}
                {% if section.settings.prod_show_weight and variant.weight != blank and variant.weight > 0 %}data-weight="{{ variant.weight | weight_with_unit }}"{% endif %}>
              {{- variant.title | escape -}}
            </option>
            {% endfor %}
          </select>

          {% else %}
          {% unless show_single_variant_details == false or product.has_only_default_variant %}
            {%- assign opt_idx = '' -%}
            {%- capture option_list -%}
              {%- for option in product.options -%}
                {%- if option != 'Title' -%}
                  {%- assign opt_idx = 'option' | append: forloop.index -%}
                  {{ option }}: {{ product.variants.first[opt_idx] }}<br/>
                {%- endif -%}
              {%- endfor -%}
            {%- endcapture -%}
            {%- if opt_idx != blank -%}
              <div class="selector-wrapper single-option">{{ option_list }}</div>
            {%- endif -%}
          {% endunless %}

          <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" />
          {% endif %}
<!--start LCXX modifications-->

          {% if product.tags contains 'Local-Only' %}
            <div style="margin-bottom:15px;color:#ff9800;font-weight: 400;">Local Pickup Only</div>
          {% endif %}
<!--end LCXX modifications-->


          {% if product.available %}
            {% if settings.label_remain_show_yes %}
              {%- capture inventory_notice -%}
                {%- if variant.inventory_management == 'shopify' and variant.inventory_quantity > settings.prod_out_of_stock_num and variant.inventory_quantity <= settings.prod_low_inventory_num -%}
                  <div class="product-inventory-notice">
                    {{settings.low_inventory_text}}
                  </div>
                {%- elsif variant.inventory_management == 'shopify' and variant.inventory_quantity <= settings.prod_out_of_stock_num -%}
                  <div class="product-inventory-notice">
                    {{settings.out_of_stock_text}}
                  </div>
                {%- else -%}
                  <div class="product-inventory-notice product-inventory-notice--no-inventory"></div>
                {%- endif -%}
              {%- endcapture -%}
            {% endif %}

            {% unless section.settings.prod_show_quantity_input %}{{ inventory_notice }}{% endunless %}

            <div class="payment-and-quantity {% if section.settings.enable_payment_button %}payment-and-quantity--buttons-active{% endif %} {% if section.settings.prod_show_quantity_input %}payment-and-quantity--with-quantity{% endif %}">
              {% if section.settings.prod_show_quantity_input %}
              <div class="quantity">
                <label for="quantity">{{ 'products.product.quantity' | t }} {{ inventory_notice }}</label>

                <div class="qty-adjuster">
                  <div class="qty-adjuster__inner">
                    <a class="qty-adjuster__down" href="#" disabled>{% render 'svg-minus' %}</a>
                    <input class="qty-adjuster__value" type="text" pattern="[0-9]*" id="quantity" name="quantity" value="1">
                    <a class="qty-adjuster__up" href="#">{% render 'svg-plus' %}</a>
                  </div>
                </div>
              </div>
              {% else %}
              <input type="hidden" name="quantity" value="1" />
              {% endif %}

              <span class="payment-and-quantity__add">
                <button type="submit" name="add" class="btn product-add {% if section.settings.enable_payment_button %}alt{% endif %}">{{ 'products.product.add_to_cart' | t }}</button>
              </span>

              {% if section.settings.enable_payment_button %}
                {{ form | payment_button }}
              {% endif %}
            </div>
          {% else %}
            <div class="rte space-below">
              {{ 'products.product.product_unavailable_html' | t }}
            </div>
          {% endif %}

          {% if product.available and section.settings.show_backorder_text == true %}
            {% render 'backorder', product: product, variant: current_variant %}
          {% endif %}
        {% endform %}
      </div>

      {% if template contains 'lightbox' %}
        <div>
          <a class="more-link" href="{{ product.url | within: collection }}">{{ 'products.general.full_details' | t }}</a>
        </div>

      {% else %}

        {% unless section.settings.description_location == 'under' %}
        <div class="product-description rte">{{ product.description }}</div>
        {% endunless %}

        {% if section.settings.show_sharing_icons %}
          {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}

      {% endif %}
    </div>
    <!-- end product form and details -->
  </div>

  {% unless template contains 'lightbox' %}

  {% if section.settings.description_location == 'under' %}
  <div class="product-description rte spaced-row reading-column">{{ product.description | replace: 'fullwidth"', '" data-fullwidth="true"' }}</div>
  {% endif %}

  <div class="theme-product-reviews-full">
    <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
  </div>


  {% if collection %}
  <div class="links-row mobile-flex section border-top product-mob-collection-links">
    <a class="back-link" href="{{ collection.url }}" title="{{ collection.title | escape }}">
      {% render 'svg-chevron-left' %} <span class="beside-svg standard-link">{{ collection.title }}</span>
    </a>

    <div>
      {% if collection.previous_product %}
      <a class="standard-link" href="{{ collection.previous_product }}">{{ 'products.product.previous' | t }}</a>
      {% if collection.next_product %} <span class="divider">/</span> {% endif %}
      {% endif %}

      {% if collection.next_product %}
      <a class="standard-link" href="{{ collection.next_product }}">{{ 'products.product.next' | t }}</a>
      {% endif %}
    </div>
  </div>
  {% endif %}

  {% endunless %}
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "prod_show_brand",
        "label": "Show vendor name",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "prod_show_type",
        "label": "Show product type",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_tax_and_shipping",
        "label": "Show tax and shipping information",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "prod_show_weight",
        "label": "Show weight",
		    "default": false
      },
      {
        "type": "checkbox",
        "id": "prod_show_sku",
        "label": "Show SKU",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "prod_show_quantity_input",
        "label": "Show quantity box",
        "default": true
      },
      {
        "type": "text",
        "id": "prod_clicky_opt_names",
        "label": "Options to show as boxes",
        "info": "Separate with commas, no spaces. E.g. Size,Color"
      },
      {
        "type": "select",
        "id": "description_location",
        "label": "Product description location",
        "default": "",
        "options": [
          {
            "value": "",
            "label": "In right hand column"
          },
          {
            "value": "under",
            "label": "Full page width"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_payment_button",
        "label": "Show dynamic checkout button",
        "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_backorder_text",
        "label": "Show backorder text",
        "default": true,
        "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
      },
      {
        "type": "checkbox",
        "id": "show_sharing_icons",
        "label": "Show social sharing icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": {
          "en": "Enable video looping"
        },
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_product_image_zoom",
        "label": "Enable hover zoom",
        "default": true
      },
      {
        "type": "header",
        "content": "Size chart"
      },
      {
        "type": "checkbox",
        "id": "show_size_chart",
        "label": "Enable",
        "default": false
      },
      {
        "type": "text",
        "id": "size_chart_variant",
        "label": "Variant name",
        "default": "Size"
      },
      {
        "type": "page",
        "id": "size_chart_page",
        "label": "Page containing size chart"
      }
    ]
  }
{% endschema %}
