{%- style -%}

{%- comment -%}Start LCXX modifications{%- endcomment -%}
@media (min-width: 768px) {

  .line-1{
    text-shadow: 0 0 12px #000;

  }
  
}
{%- comment -%}End LCXX modifications{%- endcomment -%}


{%- for block in section.blocks -%}
  {%- unless block.settings.tint_color contains ',0' -%}
  .section-id-{{ section.id }} .slide--{{ forloop.index }}::after {
    background-color: {{ block.settings.tint_color }};
    opacity: {{ block.settings.tint_opacity | divided_by: 100.00 }};
  }
  {%- endunless -%}
{%- endfor -%}
{%- endstyle -%}

<section class="border-top section section-id-{{ section.id }} slideshow-section" data-section-type="slideshow">
  <div class="container">
    <div class="slideshow smoothheight">
      {% for block in section.blocks %}
        <div class="slide slide--{{ forloop.index }} {% unless block.settings.tint_color contains ',0' %}has-tint {% if block.settings.mobile_image == blank %}has-tint--desktop-only{% endif %}{% endunless %}" {{ block.shopify_attributes }}>

          {% if block.settings.link_url != blank %}<a href="{{ block.settings.link_url }}">{% endif %}

          {% if block.settings.image == blank %}
            <div class="placeholder-image placeholder--banner {% if block.settings.heading != blank or block.settings.text != blank %}dark{% endif %}">
              {% capture current %}{% cycle 1, 2 %}{% endcapture %}
              {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
          {% elsif block.settings.mobile_image == blank %}
            {% render 'responsive-image', image: block.settings.image, manual: true, no_max_width: true %}
          {% else %}
            <div class="desktop">
              {% render 'responsive-image', image: block.settings.image, manual: true, no_max_width: true %}
            </div>
            <div class="mobile">
              {% render 'responsive-image', image: block.settings.mobile_image, manual: true, no_max_width: true %}
            </div>
          {% endif %}

          {% if block.settings.link_url != blank %}</a>{% endif %}

          {% if block.settings.heading != blank or block.settings.text != blank or block.settings.button_text != blank %}
          <div class="slide-overlay {% if block.settings.mobile_image == blank %}slide-overlay--mobile-stack{% endif %} align-{{ block.settings.position }}" style="color:{{ block.settings.text_colour }}">
            <div class="inner">
              {% if block.settings.heading != blank %}
              <div class="line-1 trans-out">
                {{ block.settings.heading | escape }}
              </div>
              {% endif %}
              {% if block.settings.text != blank %}
              <div class="line-2 trans-out">
                {{ block.settings.text | escape }}
              </div>
              {% endif %}
              {% if block.settings.button_text != blank %}
              <div class="line-3 trans-out">
                <a class="btn" href="{{ block.settings.link_url }}">{{ block.settings.button_text | escape }}</a>
              </div>
              {% endif %}
            </div>
          </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Slideshow",
    "class": "homepage-section",
    "max_blocks": 8,
    "settings": [],
    "blocks": [
      {
        "type": "image",
        "name": "Slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Primary image",
            "info": "1400 x 600px recommended"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile image"
          },
          {
            "type": "color",
            "id": "tint_color",
            "label": "Tint",
            "default": "#3d4246"
          },
          {
            "type": "range",
            "id": "tint_opacity",
            "min": 0,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Tint strength",
            "default": 25
          },
          {
            "type": "header",
            "content": "Overlay"
          },
          {
            "type": "paragraph",
            "content": "Without a mobile image, overlay text will show underneath the image on mobile screens."
          },
          {
            "type": "select",
            "id": "position",
            "label": "Position",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "centre",
                "label": "Center"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "centre"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Slideshow"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Subheading",
            "default": "Tell your story with images"
          },
          {
            "type": "color",
            "id": "text_colour",
            "label": "Text color",
            "default": "#ffffff"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "See more"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "Slide link"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "settings": {
        },
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
