{%- comment -%}Start LCXX modifications{%- endcomment -%}

<style>
  .reading-column{
    width:900px;
  }
  .my_contact_page_ul{
    padding-left: 0;
    list-style: none;
  }
  .my_contact_page_ul li{
    padding-bottom: 10px;
  }
  .my_contact_page_ul li i{
    color: #0e6dad;
    font-size: 18px;
    width: 35px;
    height: 35px;
    background: white;
    border-radius: 5px;
    border: 1px solid #0e6dad;
    margin-right: 5px;
    text-align: center;
    padding-top: 8px;
  }
  .my_map{
    margin-top:20px;
  }
</style>

{% section 'contact-us-template.liquid' %}


{%- comment -%}End LCXX modifications{%- endcomment -%}
