{%- comment -%}Start LCXX modifications{%- endcomment -%}

<div class="container">
  <div class="reading-column">
    {% section 'my_FAQs' %}
  </div>
</div>
{%- comment -%}End LCXX modifications{%- endcomment -%}
 
